body {
    display: block;
    width: 612px;
    height: 792px;
    background-color: lightcyan;
   
    
}

.header {
   display: grid;
   max-width: 612px;
   grid-template-columns: 20px 70%  225px 30px;
}
.lignegauche {
    display: block;
    border-left: 13px solid rgb(0, 102, 128);
    height: 190px;
    margin-top: 30px;
    float: left;
  
}
.lignedroite{
    display: block;
    border-right: 10px solid rgb(38, 54, 58);
    height: 90px;
   margin-top: 80px;
   float: right;
}
.headerinfo{
    display: grid;
}
.contactgrid{
    margin-top: -40px;
    height: 100px;
    display: grid;
    grid-template-columns: 40px auto;
    row-gap: 5px;
    font-family: 'Archivo', sans-serif;
}  
.icons{

   width: 23px;
   height: 23px;
}
.contact {
 margin-top: 4px;
}

.nom{
    grid-template-columns: 100%;
    float: left;
    color: rgb(108, 120, 126);
    margin-top: 0px;
    font-family: 'Archivo', sans-serif;
    font-size: 25px;
    
}
span {
    color: rgb(0, 102, 128);
}
.photo {
    display: block;
    width: 170px;
    height: 170px;
    border: 7px solid rgb(0, 102, 128);
        border-radius: 90px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        margin-top: 30px;
}
.pfp {
    width: 155px;
    height: 155px;
    border-radius: 90px;
    padding: 7.5px;
}
.bottom {
    text-align: center;
}
.title{
    display: block;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px ;
    margin-left: 30%;
    margin-right: auto;
    background-color: rgb(0, 102, 128);
    
}
.titlep {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: lightcyan;
    font-size: 25px;
    
}
.biggrid{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 200px 10% 70%;
    font-family: monospace;
}

.row1{
display: block;
margin-top: -30px;
margin-left: 10px;
}
.rowtitle{
    display: block;
    width: 170px;
    height: 23px;
    border-radius: 5px;
    background-color: rgb(21, 33, 39);
    color: lightcyan;
    font-size: 15px;
    
}
.liste{
  display: block;
  text-align: left;
  text-justify: left;
}
.vline{
border-left: 3px solid rgb(0, 102, 128);
height: 500px;
}
.exp{
text-align: left;
margin-left: -30px;

}
.exptitle{
    display: block;
    width: 350px;
    height: 23px;
    border-radius: 5px;
    background-color: rgb(21, 33, 39);
    color: lightcyan;
    font-size: 17px;
} 
.poste{
text-align: left;

}
.infoposte{
    margin-top: -15px;
}
.formation{
    margin-top: 35px;
    font-size: 12px;
}